In [17]:
import csv
import psycopg2
import matplotlib.pyplot as plt
import pandas.io.sql as sqlio
import seaborn as sns
from sqlalchemy import create_engine, event, text, exc
from sqlalchemy.engine.url import URL

In [18]:
connection_string = "postgresql+psycopg2://dap:dap@127.0.0.1:5432/postgres"

try :
    engine = create_engine(connection_string)
    with engine.connect() as connection:
        server_version = sqlio.read_sql_query(
            text("SELECT VERSION();"),
            connection 
        )
except exc.SQLAlchemyError as dbError:
    print ("PostgreSQL Error", dbError)
else:
    print(server_version["version"].values[0])
finally :
    if engine in locals():
        engine.close()

PostgreSQL 15.2 (Debian 15.2-1.pgdg110+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit

In [19]:
try :
    engine = create_engine(connection_string)
    with engine.connect() as connection:
        connection.execution_options(isolation_level="AUTOCOMMIT")
        connection.execute(text("CREATE DATABASE Seasonal_Consumption;"))
except exc.SQLAlchemyError as dbError:
    print ("PostgreSQL Error", dbError)
finally :
    if engine in locals():
        engine.close()

PostgreSQL Error (psycopg2.errors.DuplicateDatabase) database "seasonal_consumption" already exists

[SQL: CREATE DATABASE Seasonal_Consumption;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [20]:
connection_string = "postgresql+psycopg2://dap:dap@127.0.0.1:5432/seasonal_consumption" 

table_create_string = """DROP TABLE IF EXISTS newyork_weather;CREATE TABLE newyork_weather( DATE DATE,
Year numeric(5,1),
Month integer,
Day numeric(5,1),
Temp_max numeric(5,1),
Temp_min numeric(5,1)
); """


try :
    engine = create_engine(connection_string)
    with engine.connect() as connection:
        connection.execution_options(isolation_level="AUTOCOMMIT")
        connection.execute(text(table_create_string))
except exc.SQLAlchemyError as dbError:
    print ("PostgreSQL Error", dbError)
finally :
    if engine in locals():
        engine.close()


#connecting to Mongodb database
from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017", username="dap",password="dap")
db=client["Database"]
collection=db["newyork_weather"]
#for i in collection.find():
#    print(i.keys())

In [21]:

conn = psycopg2.connect(host='localhost', database='seasonal_consumption', user='dap', password='dap')
cur = conn.cursor()

#Query MongoDB and inserting data into postgres
for doc in collection.find():
    date=doc['DATE']
    year=doc['YEAR']
    month=doc['MONTH']
    day=doc['DAY']
    tempMax=doc['TMAX']
    tempMin=doc['TMIN']
    cur.execute("INSERT INTO newyork_weather(DATE,Year,Month,Day,Temp_max,Temp_min) VALUES (%s,%s,%s,%s,%s,%s)",(date,year,month,day,tempMax,tempMin))

conn.commit()
cur.close()
conn.close()

In [22]:
#creating table Water_Consumption

connection_string = "postgresql+psycopg2://dap:dap@127.0.0.1:5432/seasonal_consumption" 

table_create_string_1 = """ DROP SEQUENCE IF EXISTS Water_Consumption_seq;
CREATE SEQUENCE Water_Consumption_seq
START WITH 1
INCREMENT BY 1
NO MAXVALUE
NO CYCLE;

DROP TABLE if exists Water_Consumption; CREATE TABLE Water_Consumption( 
id INTEGER DEFAULT nextval('Water_Consumption_id_seq') PRIMARY KEY,
BILL_ID Varchar(200) ,
Development_Name Varchar(200),
Borough Varchar(200),
Account_Name Varchar(200),
Location Varchar(200),
Revenue_DATE timestamp NOT NULL,
Service_Start_Date timestamp NOT NULL,
Service_End_Date timestamp NOT NULL,
Days integer,
Meter_Number Varchar(200) NOT NULL,
Consumption_HCF Varchar(200) NOT NULL,
Rate_Class  Varchar(200)
); """


try :
    engine = create_engine(connection_string)
    with engine.connect() as connection:
        connection.execution_options(isolation_level="AUTOCOMMIT")
        connection.execute(text(table_create_string_1))
except exc.SQLAlchemyError as dbError:
    print ("PostgreSQL Error", dbError)
finally :
    if engine in locals():
        engine.close()

PostgreSQL Error (psycopg2.errors.UndefinedTable) relation "water_consumption_id_seq" does not exist
LINE 9: id INTEGER DEFAULT nextval('Water_Consumption_id_seq') PRIMA...
                                   ^

[SQL:  DROP SEQUENCE IF EXISTS Water_Consumption_seq;
CREATE SEQUENCE Water_Consumption_seq
START WITH 1
INCREMENT BY 1
NO MAXVALUE
NO CYCLE;

DROP TABLE if exists Water_Consumption; CREATE TABLE Water_Consumption(
id INTEGER DEFAULT nextval('Water_Consumption_id_seq') PRIMARY KEY,
BILL_ID Varchar(200) ,
Development_Name Varchar(200),
Borough Varchar(200),
Account_Name Varchar(200),
Location Varchar(200),
Revenue_DATE timestamp NOT NULL,
Service_Start_Date timestamp NOT NULL,
Service_End_Date timestamp NOT NULL,
Days integer,
Meter_Number Varchar(200) NOT NULL,
Consumption_HCF Varchar(200) NOT NULL,
Rate_Class  Varchar(200)
); ]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [23]:
connection_string = "postgresql+psycopg2://dap:dap@127.0.0.1:5432/seasonal_consumption" 

table_create_string_2 = """DROP TABLE IF EXISTS Electric_Consumption;
DROP SEQUENCE IF EXISTS Electric_Consumption_seq;
CREATE SEQUENCE Electric_Consumption_seq
START WITH 1
INCREMENT BY 1
NO MAXVALUE
NO CYCLE;


 CREATE TABLE Electric_Consumption( 
id INTEGER DEFAULT nextval('Electric_Consumption_seq') PRIMARY KEY,
BILL_ID Varchar(80),
Development_Name Varchar(80),
Borough Varchar(80),
Account_Name Varchar(80),
Location Varchar(80),
Revenue_DATE timestamp  NOT NULL,
Service_Start_Date timestamp  NOT NULL,
Service_End_Date timestamp  NOT NULL,
Days integer,
Meter_Number Varchar(80) NOT NULL,
Consumption_KWH numeric(8,1) NOT NULL,
KWH_Charges numeric(10,1) NOT NULL,
Consumption_KW numeric(8,1) NOT NULL,
KW_Charges numeric(10,1) NOT NULL,
Rate_Class  Varchar(80)
); """


try :
    engine = create_engine(connection_string)
    with engine.connect() as connection:
        connection.execution_options(isolation_level="AUTOCOMMIT")
        connection.execute(text(table_create_string_2))
except exc.SQLAlchemyError as dbError:
    print ("PostgreSQL Error", dbError)
finally :
    if engine in locals():
        engine.close()

In [24]:
#Connecting to mongodb and extracting collection data for Water_Consumption
import pymongo
import psycopg2
from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017", username="dap",password="dap")
db = client['Database']
collection = db['Water_Consumption']
data = collection.find()


conn = psycopg2.connect(host='localhost', dbname='seasonal_consumption', user='dap', password='dap')
cur = conn.cursor()

In [26]:

# Insert data into PostgreSQL

for d in data:
    cur.execute('''
        INSERT INTO water_consumption (
            BILL_ID,
            Development_Name,
            Borough,
            Account_Name,
            Location,
            Revenue_DATE,
            Service_Start_Date,
            Service_End_Date,
            Days,
            Meter_Number,
            Consumption_HCF,
            Rate_Class
        )
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    ''', (
        d['UMIS BILL ID'], d['Development Name'],
        d['Borough'], d['Account Name'], d['Location'],
        d['Revenue Month'], d['Service Start Date'],d['Service End Date'],
        d['# days'], d['Meter Number'], d['Consumption (HCF)'], d['Rate Class']
    ))

conn.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [ ]:
conn = psycopg2.connect(host='localhost', database='seasonal_consumption', user='dap', password='dap')
cur = conn.cursor()


# Query MongoDB and insert data into Postgres
for reader in collection.find():
    
    BILL_ID=reader['UMIS BILL ID']
    Development_Name=reader['Development Name']
    Borough=reader['Borough']
    Account_Name=reader['Account Name']
    Location=reader['Location']
    Revenue_DATE = datetime.datetime.strptime(reader['Revenue Month'], '%Y-%m-%d').date()
    Service_Start_Date = datetime.datetime.strptime(reader['Service Start Date'], '%Y-%m-%dT%H:%M:%S').date()
    Service_End_Date = datetime.datetime.strptime(reader['Service End Date'], '%Y-%m-%dT%H:%M:%S').date()
    #Service_Start_Date=reader['Service Start Date']
    #Service_End_Date=reader['Service End Date']
    Days=reader['# days']
    Meter_Number=reader['Meter Number']
    Consumption_KWH=reader['Consumption (KWH)']
    KWH_Charges=reader['KWH Charges']
    Consumption_KW=reader['Consumption (KW)']
    KW_Charges=reader['KW Charges']
    Rate_Class=reader['Rate Class']
    #print(type(datetime.datetime.strptime(reader['Revenue Month'], '%Y-%m-%d').date()))
    #print("%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s",(BILL_ID,Development_Name, Borough, Account_Name,Location ,Revenue_DATE, Service_Start_Date, Service_End_Date, Days, Meter_Number, Consumption_KWH, KWH_Charges, Consumption_KW, KW_Charges, Rate_Class))
    cur.execute("""INSERT INTO Electric_Consumption(
                BILL_ID,
                Development_Name, 
                Borough, 
                Account_Name,
                Location ,
                Revenue_DATE, 
                Service_Start_Date, 
                Service_End_Date, 
                Days, 
                Meter_Number, 
                Consumption_KWH, 
                KWH_Charges, 
                Consumption_KW, 
                KW_Charges, 
                Rate_Class) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""",
                (BILL_ID,Development_Name, Borough, Account_Name,Location ,Revenue_DATE, Service_Start_Date, Service_End_Date, Days, Meter_Number, Consumption_KWH, KWH_Charges, Consumption_KW, KW_Charges, Rate_Class))
    

conn.commit()
cur.close()
conn.close()

In [ ]:
cur.close()
conn.close()